

#content {   
    margin-top: 70px;
}

footer {
    margin-bottom: 20px;
    text-align:center;
    font-style: italic;    
}

#menu {    
    margin-top: 70px;
}

#logo, #mini_logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block
}

.input-group input {
    margin-right: 5px;
}

.input-group button {
    height: 34px;
}


@media (max-width : 980px){
    
    .relations {
        display : none;
    }
    
    h2 {
        font-size: 1.3em;
        /* smaller text because standard is 1.5em */
    }
        
    #menu, #logo, #bottomFooter  {
        display: none;
    }   
}
